=begin
#ChronoSheets API

#An API for integrating into ChronoSheets timesheets

OpenAPI spec version: v1
Contact: lachlan@chronosheets.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module SwaggerClient
  class OrganisationGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create an organisation group
    # 
    # @param request 
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CsApiApiResponseInt32]
    def organisation_groups_create_organisation_group(request, x_chronosheets_auth, opts = {})
      data, _status_code, _headers = organisation_groups_create_organisation_group_with_http_info(request, x_chronosheets_auth, opts)
      return data
    end

    # Create an organisation group
    # 
    # @param request 
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsApiApiResponseInt32, Fixnum, Hash)>] CsApiApiResponseInt32 data, response status code and response headers
    def organisation_groups_create_organisation_group_with_http_info(request, x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrganisationGroupsApi.organisation_groups_create_organisation_group ..."
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling OrganisationGroupsApi.organisation_groups_create_organisation_group"
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling OrganisationGroupsApi.organisation_groups_create_organisation_group"
      end
      # resource path
      local_var_path = "/api/OrganisationGroups/CreateOrganisationGroup"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CsApiApiResponseInt32')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganisationGroupsApi#organisation_groups_create_organisation_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a particular organisation group
    # 
    # @param organisation_group_id The ID of the organisation group you want to get
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CsApiApiResponseOrganisationGroup]
    def organisation_groups_get_organisation_group(organisation_group_id, x_chronosheets_auth, opts = {})
      data, _status_code, _headers = organisation_groups_get_organisation_group_with_http_info(organisation_group_id, x_chronosheets_auth, opts)
      return data
    end

    # Get a particular organisation group
    # 
    # @param organisation_group_id The ID of the organisation group you want to get
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsApiApiResponseOrganisationGroup, Fixnum, Hash)>] CsApiApiResponseOrganisationGroup data, response status code and response headers
    def organisation_groups_get_organisation_group_with_http_info(organisation_group_id, x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrganisationGroupsApi.organisation_groups_get_organisation_group ..."
      end
      # verify the required parameter 'organisation_group_id' is set
      if @api_client.config.client_side_validation && organisation_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'organisation_group_id' when calling OrganisationGroupsApi.organisation_groups_get_organisation_group"
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling OrganisationGroupsApi.organisation_groups_get_organisation_group"
      end
      # resource path
      local_var_path = "/api/OrganisationGroups/GetOrganisationGroup"

      # query parameters
      query_params = {}
      query_params[:'OrganisationGroupId'] = organisation_group_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CsApiApiResponseOrganisationGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganisationGroupsApi#organisation_groups_get_organisation_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a collection of organisation groups that are under your organisation
    # 
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CsApiApiResponseListOrganisationGroup]
    def organisation_groups_get_organisation_groups(x_chronosheets_auth, opts = {})
      data, _status_code, _headers = organisation_groups_get_organisation_groups_with_http_info(x_chronosheets_auth, opts)
      return data
    end

    # Get a collection of organisation groups that are under your organisation
    # 
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsApiApiResponseListOrganisationGroup, Fixnum, Hash)>] CsApiApiResponseListOrganisationGroup data, response status code and response headers
    def organisation_groups_get_organisation_groups_with_http_info(x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrganisationGroupsApi.organisation_groups_get_organisation_groups ..."
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling OrganisationGroupsApi.organisation_groups_get_organisation_groups"
      end
      # resource path
      local_var_path = "/api/OrganisationGroups/GetOrganisationGroups"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CsApiApiResponseListOrganisationGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganisationGroupsApi#organisation_groups_get_organisation_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get org groups for a particular job
    # 
    # @param job_id The ID of the job
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CsApiApiResponseListOrganisationGroup]
    def organisation_groups_get_organisation_groups_for_job(job_id, x_chronosheets_auth, opts = {})
      data, _status_code, _headers = organisation_groups_get_organisation_groups_for_job_with_http_info(job_id, x_chronosheets_auth, opts)
      return data
    end

    # Get org groups for a particular job
    # 
    # @param job_id The ID of the job
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsApiApiResponseListOrganisationGroup, Fixnum, Hash)>] CsApiApiResponseListOrganisationGroup data, response status code and response headers
    def organisation_groups_get_organisation_groups_for_job_with_http_info(job_id, x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrganisationGroupsApi.organisation_groups_get_organisation_groups_for_job ..."
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling OrganisationGroupsApi.organisation_groups_get_organisation_groups_for_job"
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling OrganisationGroupsApi.organisation_groups_get_organisation_groups_for_job"
      end
      # resource path
      local_var_path = "/api/OrganisationGroups/GetOrganisationGroupsForJob"

      # query parameters
      query_params = {}
      query_params[:'JobId'] = job_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CsApiApiResponseListOrganisationGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganisationGroupsApi#organisation_groups_get_organisation_groups_for_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get org groups for a particular vehicle
    # 
    # @param vehicle_id The ID of the vehicle
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CsApiApiResponseListOrganisationGroup]
    def organisation_groups_get_organisation_groups_for_vehicle(vehicle_id, x_chronosheets_auth, opts = {})
      data, _status_code, _headers = organisation_groups_get_organisation_groups_for_vehicle_with_http_info(vehicle_id, x_chronosheets_auth, opts)
      return data
    end

    # Get org groups for a particular vehicle
    # 
    # @param vehicle_id The ID of the vehicle
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsApiApiResponseListOrganisationGroup, Fixnum, Hash)>] CsApiApiResponseListOrganisationGroup data, response status code and response headers
    def organisation_groups_get_organisation_groups_for_vehicle_with_http_info(vehicle_id, x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrganisationGroupsApi.organisation_groups_get_organisation_groups_for_vehicle ..."
      end
      # verify the required parameter 'vehicle_id' is set
      if @api_client.config.client_side_validation && vehicle_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_id' when calling OrganisationGroupsApi.organisation_groups_get_organisation_groups_for_vehicle"
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling OrganisationGroupsApi.organisation_groups_get_organisation_groups_for_vehicle"
      end
      # resource path
      local_var_path = "/api/OrganisationGroups/GetOrganisationGroupsForVehicle"

      # query parameters
      query_params = {}
      query_params[:'VehicleId'] = vehicle_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CsApiApiResponseListOrganisationGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganisationGroupsApi#organisation_groups_get_organisation_groups_for_vehicle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an organisation group
    # 
    # @param request 
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CsApiApiResponseBoolean]
    def organisation_groups_update_organisation_group(request, x_chronosheets_auth, opts = {})
      data, _status_code, _headers = organisation_groups_update_organisation_group_with_http_info(request, x_chronosheets_auth, opts)
      return data
    end

    # Update an organisation group
    # 
    # @param request 
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsApiApiResponseBoolean, Fixnum, Hash)>] CsApiApiResponseBoolean data, response status code and response headers
    def organisation_groups_update_organisation_group_with_http_info(request, x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrganisationGroupsApi.organisation_groups_update_organisation_group ..."
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling OrganisationGroupsApi.organisation_groups_update_organisation_group"
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling OrganisationGroupsApi.organisation_groups_update_organisation_group"
      end
      # resource path
      local_var_path = "/api/OrganisationGroups/UpdateOrganisationGroup"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CsApiApiResponseBoolean')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganisationGroupsApi#organisation_groups_update_organisation_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
