=begin
#ChronoSheets API

#<div style='font-size: 14px!important;font-family: Open Sans,sans-serif!important;color: #3b4151!important;'><p>      ChronoSheets is a flexible timesheet solution for small to medium businesses, it is free for small teams of up to 5 and there are iOS and Android apps available.  Use the ChronoSheets API to create your own custom integrations.  Before starting, sign up for a ChronoSheets account at <a target='_BLANK' href='http://tsheets.xyz/signup'>http://tsheets.xyz/signup</a>.  </p></div><div id='cs-extra-info'></div>

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module ChronoSheetsAPI
  class UserJobFavouritesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a job favourite.    Requires the 'SubmitTimesheets' permission.
    # 
    # @param request An Insert UserJobFavourite Request object containing values for the new UserJobFavourite to create
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CSApiResponseInt32]
    def user_job_favourites_create_job_favourite(request, x_chronosheets_auth, opts = {})
      data, _status_code, _headers = user_job_favourites_create_job_favourite_with_http_info(request, x_chronosheets_auth, opts)
      return data
    end

    # Create a job favourite.    Requires the &#39;SubmitTimesheets&#39; permission.
    # 
    # @param request An Insert UserJobFavourite Request object containing values for the new UserJobFavourite to create
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CSApiResponseInt32, Fixnum, Hash)>] CSApiResponseInt32 data, response status code and response headers
    def user_job_favourites_create_job_favourite_with_http_info(request, x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UserJobFavouritesApi.user_job_favourites_create_job_favourite ..."
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling UserJobFavouritesApi.user_job_favourites_create_job_favourite"
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling UserJobFavouritesApi.user_job_favourites_create_job_favourite"
      end
      # resource path
      local_var_path = "/api/UserJobFavourites/CreateJobFavourite"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CSApiResponseInt32')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserJobFavouritesApi#user_job_favourites_create_job_favourite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a job favourite.    Requires the 'SubmitTimesheets' permission.
    # 
    # @param job_id The ID of the Job for the Job Favourite you want to delete.
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CSApiResponseBoolean]
    def user_job_favourites_delete_job_favourite(job_id, x_chronosheets_auth, opts = {})
      data, _status_code, _headers = user_job_favourites_delete_job_favourite_with_http_info(job_id, x_chronosheets_auth, opts)
      return data
    end

    # Delete a job favourite.    Requires the &#39;SubmitTimesheets&#39; permission.
    # 
    # @param job_id The ID of the Job for the Job Favourite you want to delete.
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CSApiResponseBoolean, Fixnum, Hash)>] CSApiResponseBoolean data, response status code and response headers
    def user_job_favourites_delete_job_favourite_with_http_info(job_id, x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UserJobFavouritesApi.user_job_favourites_delete_job_favourite ..."
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling UserJobFavouritesApi.user_job_favourites_delete_job_favourite"
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling UserJobFavouritesApi.user_job_favourites_delete_job_favourite"
      end
      # resource path
      local_var_path = "/api/UserJobFavourites/DeleteJobFavourite"

      # query parameters
      query_params = {}
      query_params[:'JobId'] = job_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CSApiResponseBoolean')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserJobFavouritesApi#user_job_favourites_delete_job_favourite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get your job favourites.    Requires the 'SubmitTimesheets' permission.
    # 
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [CSApiResponseListUserJobFavourite]
    def user_job_favourites_get_job_favourites(x_chronosheets_auth, opts = {})
      data, _status_code, _headers = user_job_favourites_get_job_favourites_with_http_info(x_chronosheets_auth, opts)
      return data
    end

    # Get your job favourites.    Requires the &#39;SubmitTimesheets&#39; permission.
    # 
    # @param x_chronosheets_auth The ChronoSheets Auth Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(CSApiResponseListUserJobFavourite, Fixnum, Hash)>] CSApiResponseListUserJobFavourite data, response status code and response headers
    def user_job_favourites_get_job_favourites_with_http_info(x_chronosheets_auth, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UserJobFavouritesApi.user_job_favourites_get_job_favourites ..."
      end
      # verify the required parameter 'x_chronosheets_auth' is set
      if @api_client.config.client_side_validation && x_chronosheets_auth.nil?
        fail ArgumentError, "Missing the required parameter 'x_chronosheets_auth' when calling UserJobFavouritesApi.user_job_favourites_get_job_favourites"
      end
      # resource path
      local_var_path = "/api/UserJobFavourites/GetJobFavourites"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml', 'multipart/form-data'])
      header_params[:'x-chronosheets-auth'] = x_chronosheets_auth

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CSApiResponseListUserJobFavourite')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserJobFavouritesApi#user_job_favourites_get_job_favourites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
